<html>
    <head>
       <meta charset="utf-8">
       <title>Добавление информации в базу</title>
    </head>
 <body>

 <form action="">
    <p><b>Введите название продукта:</b> <br>
	<input type="text" name="name" value="" required></p>
    <p><b>Белки, г:</b> <br>
	<input type="number" name="proteins" value="" required></p>
    <p><b>Жиры, г:</b> <br>
	<input type="number" name="fats" value="" required></p>
    <p><b>Углеводы, г:</b> <br>
   	<input type="number" name="carbs" value="" required></p>
    <p><input type="submit"></p>
 </form>

 </body>
 </html>
