<!DOCTYPE html>
<html lang="en">
  <head>
       <title>Ура!</title>
	<meta charset="utf-8">

<h2>Ваш продукт успешно добавлен!</h2>

<br>

<form action="/processing/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Добавить еще один продукт">
</form>

<br>

<form action="/view/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Просмотреть содержание базы">
</form>

<br>

<form action="/search/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Поиск по текущей базе">
</form>

 </body>
 </html>
