<html>
    <head>
       <meta charset="utf-8">
       <title>Добавление информации в социальную сеть</title>
    </head>
 <body>

<h2>Регистрация нового пользователя</h2>
 <form action="">
    <p><b>Введите имя (латиница):</b> <br>
	<input type="text" name="name" value="" required></p>
    <p><b>Введите фамилию (латиница):</b> <br>
	<input type="text" name="surname" value="" required></p>
    <p><b>Введите город проживания пользователя (латиница):</b> <br>
	<input type="text" name="city" value="" required></p>
    <p><b>Возраст пользователя:</b> <br>
   	<input type="number" name="user_age" value="" required></p>
	<br>
	<p><b>Если пользователь является чьи-то другом (не обязательно зарегистрированного в система), введите его данные:</b> 
<br>
<br>
	<input type="text" name="f_name" placeholder="имя"> <input type="text" name="f_surname" placeholder="фамилия"> <input type="text" name="f_city" placeholder="город проживания"> <input type="text" name="f_age" placeholder="возраст"></p>

<p><i>На случай, если вы забыли, кто зарегистрирован: <a href="/user_list">здесь</a> вы можете ознакомиться со списком пользователей.<i></p>
    <p><input type="submit"></p>
 </form>

 </body>
 </html>
