<html>
    <head>
       <meta charset="utf-8">
       <title>СЛОЖНЫЙ поиск</title>
    </head>
 <body>
<br>
<center><h2>СЛОЖНЫЙ поиск</h2></center>
<form>
<center><p><form> Не важно, зачем, но представьте, что вы хотите найти людей <br> старше <input type="number" name="age" placeholder="введите возраст" required> лет из города <br> <input type="text" name="city" placeholder="введите название города" required>, которые являются друзьями зарегистрированных <br> пользователей с фамилией <input type="text" name="f_surname" placeholder="введите фамилию" required>.</p></center>
<center><p><input type="submit"></p></center>
</form>

  </html>
