<html>
    <head>
       <meta charset="utf-8">
       <title>Поиск</title>
    </head>
 <body>
<h2>Поиск по всем упомянутым в системе пользователям</h2>
<form>
<p><b>По какому параметру вы хотите искать?</b></p>
    <input type="radio" name="parameter" value="name">имя<Br>
    <input type="radio" name="parameter" value="surname">фамилия<Br>
	<input type="radio" name="parameter" value="city">город<Br>
	<input type="radio" name="parameter" value="age">возраст<Br>
    <p><b>Введите значение выбранного параметра</b> <br>
	<input type="text" name="value" value="" required></p>
<p><input type="submit"></p>
</form>

  </html>
