<!DOCTYPE html>
<html lang="en">
  <head>
       <title>Ура!</title>
	<meta charset="utf-8">
    </head>
<body>
    <br>
  <center><h2>Пользователь успешно зарегистрирован!</h2></center>
<br>
<center><form action="/add_user/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Зарегистрировать нового пользователя">
</form></center>
<br>
<center><form action="/view_registered/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Показать загеристрированных пользователей">
</form></center>

<br>
<center><form action="/view_all/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Показать всех упомянутых людей">
</form></center>
<br>
<center><form action="/search/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Поискать по базе данных">
</form></center>
<br>
<center><form action="/complex_search/" method="POST">
    <input type="submit" class="btn btn-defautl" value="Испытать сложный поиск">
</form></center></p>

<br>
<br>
<br>
<!--  <button type="submit" class="btn btn-default">Продолжить</button> -->>

    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
